<div class="container text-center col-lg-5 col-sm-8 container-form-user">
  <h2>Modifier vos informations</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Prénom</span>
      </div>
      <%= f.text_field :first_name, autocomplete: "Prénom", class: "form-control col-7" %>
    </div>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Nom</span>
      </div>
      <%= f.text_field :last_name, autocomplete: "Nom", class: "form-control col-7" %>
    </div>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Adresse email</span>
      </div>
      <%= f.text_field :email, autocomplete: "Email", class: "form-control col-7" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Nouveau mot de passe <small><i>(laisser blanc si vous ne voulez pas le changer)</i></small></span>
      </div>
      <%= f.text_field :password, autocomplete: "Nouveau mot de passe", placeholder: "6 caractères minimum", class: "form-control col-7" %>
    </div>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Confirmation du mot de passe</span>
      </div>
      <%= f.text_field :password_confirmation, autocomplete: "Nouveau mot de passe", class: "form-control col-7" %>
    </div>

    <div class="input-group mb-4 mt-4">
      <div class="text-white field-title col-5" align="left">
        <span>Mot de passe actuel <small><i>(il est nécessaire pour valider les changements)</i></small></span>
      </div>
      <%= f.text_field :current_password, autocomplete: "Mot de passe actuel", class: "form-control col-7" %>
    </div>

    <div class="actions mb-5">
      <%= f.submit "Confirmer les changements", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <p class="text-white">Plus besoin de nous ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Retour", :back %>
</div>
