<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favorite.favorite_user %>
</p>

<p>
  <strong>Internship:</strong>
  <%= @favorite.favorite_internship %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
