<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
  <%= @questioner%>
</p>

<%= button_to "supprimer", [@questioned_internship, @comment], method: :delete %>
<%= link_to 'Modifier le commentaire', edit_internship_comment_path(@questioned_internship, @comment) %> |
<%= link_to 'Retour', internship_comments_path(@questioned_internship) %>
