<p id="notice"><%= notice %></p>

<h5><%= current_user.first_name %></h5>
<h5><%= current_user.last_name %></h5>
<h5><%= current_user.email %></h5>

<%= link_to 'Modifer les informations', edit_user_registration_path(@user) %> |
<%= link_to 'Retour', root_path %>
