<%= form_with(model: internship, local: true) do |form| %>
  <% if internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship.errors.count, "erreurs") %> ont empêché la sauvegarde de la modification:</h2>
      <ul>
      <% internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<section>
  <div class="container container-form">
    <div class="card bg-secondary">
      <div class="card-body text-dark">
        <div class="card-header text-uppercase text-dark style-card "> Lieu de stage</div>
        <hr>
        <div>
          <p> * <i>Tous les champs sont obligatoires</i></p>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-xs-12">
            <%= form.label :etablissement %>
            <%= form.text_field :organization, class:"form-control" %>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
            <%= form.label :spécialité %>
            <%= select_tag("internship[specialty]", options_for_select([[@internship.specialty], ["Hospitalier"],['Maison médicale'], ["Social"], ["Médico-social"], ["Petite enfance"], ["Associatif"], ["Scolaire"], ["Médico-pédagogique"], ["Libéral"], ["Recherche"], ["Entreprise"],["Privé"], ["Justice"],["Police Nationale"], ["Armée"], ["Carcéral"], ["Insertion professionnelle"], ["Recrutement"], ["Gestion de carrières"], ["Ressouces Humaines"], ["Marketing"], ["Santé au travail"], ["Autres"] ]), class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :population %>
              <%= select_tag("internship[population]", options_for_select([[@internship.population], ["Personnes âgées"],["Enfants"], ["Adolescents"], ["Adultes"], ["Autistes"], ["Haut potentiel"], ["Personnes Cérébro-lésées"], ["Non pertinent"],[ "Autres"]]), class: "form-control") %>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :région %>
              <%= select_tag("internship[region]", options_for_select([[@internship.region],
              ["Auvergne-Rhône-Alpes"], ["Bourgogne-Franche-Comté"], ["Bretagne"], ["Centre-Val de Loire"], ["Corse"], ["Grand Est"], ["Hauts-de-France"], ["Île-de-France"], ["Normandie"], ["Nouvelle-Aquitaine"], ["Occitanie"], ["Pays de la Loire"], ["Provence-Alpes-Côte d'Azur"]]), class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :adresse %>
              <%= form.text_field :adress, class:"form-control" %>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :ville %>
              <%= form.text_field :city, class:"form-control" %>
            </div>
          </div>
          <div class="row center">
            <div class="form-group col-sm-6 col-xs-12">
            <%= form.label :code_postal %>
            <%= form.text_field :zipcode, class:"form-control" %>
            <span>* Enter un code postal sans espace</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-form">
    <div class="card bg-secondary">
      <div class="card-body text-dark">
        <div class="card-header text-uppercase text-center text-dark style-card"> Expérience</div>
        <hr>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :titre %>
              <%= form.text_field :title, class:"form-control"  %>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :cursus %><span> (lors du stage)</span>
              <%= select_tag("internship[cursus]", options_for_select([[@internship.cursus], ["Licence 1"],["Licence 2"], ["Licence 3"], ["Master 1"], ["Master 2"]]), class: "form-control") %>
            </div>
          </div>
          <div class="form-group col-xs-12" id="description">
            <%= form.label :description %><span> (missions, tâches réalisées)</span>
            <%= form.text_area :description, class:"form-control"%>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :durée %><span> (en mois)</span>
              <%= select_tag("internship[duration]", options_for_select([[@internship.duration], [1], [1.5], [2], [2.5], [3], [3.5], [4], [4.5], [5], [5.5], [6]]), class: "form-control") %>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :rémunération %><span> (par mois)</span>
              <%= form.number_field :remuneration, :min => 0, class:"form-control"  %>
              <span>* <i>Veuillez saisir un nombre entier et mettre 0 si l'expérience n'était pas rémunérée</i></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :impressions %>
              <%= form.text_area :feeling, class:"form-control"%>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <%= form.label :note_attribuée %><span> (chiffre entier de 0 à 5)</span>
              <%= form.number_field :notation, :min => 0, :max => 5, class:"form-control"  %>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-xs-12">
        <div class="mb-4">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Envoyer</button>
        </div>
      </div>
    </div>
  <% end %>
</section>