<p id="notice"><%= notice %></p>
<div class="main-wrapper">
  <section class="py-7 pt-md-9 pb-md-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-2 mb-lg-0">
            <h1 class="single-listing-title d-inline-block"> <%= @internship.title %></h1>
            <% if current_user.id == @internship.user.id %>
              <div class="row edit-button">
                <button class="btn btn-outline-primary"><i class="fa fa-edit"></i><%= link_to 'Editer', edit_internship_path(@internship) %></button>
                <%= button_to [@internship],  action: :destroy, id: @internship.id, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class:"btn btn-sm ml-3" do %> 
                  <i class="fas fa-times-circle fa-3x text-danger" title="Supprimer l'expérience"></i>
                <% end %>
              <% end %>
            </div>
            <p>
              <!-- ADRESS DETAILS -->
              <span><%= @internship.city %>, <%= @internship.region %></span><br>
              <span><%= @internship.adress %>, <%= @internship.zipcode %></span>
            </p>
            <p>Crée par <%= @internship.user.first_name %> <%= @internship.user.last_name %>,<br>
              le <%= @internship.created_at.strftime("%d / %m / %Y") %>
            </p>
            <!-- AVERAGE NOTATION INTERNSHIP -->
            <div class="d-flex align-items-center">
              <ul class="list-inline list-inline-rating mr-2">
                <% @internship.average_notation.times do %>
                  <li class="list-inline-item">
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                  </li>
                <% end %>
                <% @stars_empty.times do %>
                  <li class="list-inline-item">
                    <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                  </li>
                <% end %>
              </ul>
              <!-- FAVORITE BUTTON -->
              <span class="d-inline-block mr-2">(<%= @internship.reviews.count + 1 %> Avis)</span>
              <% unless @favorite_exists == nil || @favorite_exists == [] %>
                <%= button_to internship_favorite_path(@internship), method: :delete, class:"btn-like px-2" do %>
                  <i class="fa fa-heart text-primary" aria-hidden="true" title="Retirer des favoris"></i>
                <% end %>
              <% else %>
                <%= button_to internship_favorites_path(@internship), method: :post, class:"btn-like px-2" do %>
                  <i class="fa fa-heart-o text-primary" aria-hidden="true" title="Ajouter aux favoris"></i>
                <% end %>
              <% end %>
              <span> <%= @internship.favorites.count %></span>
            </div>
          </div>
        </div>
        <% if current_user != @internship.user %>
          <div class="col-lg-4 mt-5">
            <!-- BUTTON CREATE REVIEW -->
            <a href="#add-review" class="btn btn-outline-primary "><i class="fas fa-bullhorn mr-3"></i>Ecrire un avis</a>
          </div>
        <% end %>
      </div>
    </div>
  </section>

<!-- ====================================
——— MAIN CONTENT
===================================== -->
  <section class="pt-7 pb-4 pt-md-9 pb-md-8">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <div class="single-listing-content mb-6">
            <h3 class="font-weight-normal mb-6"><i class="fa fa-briefcase mr-6" aria-hidden="true"></i><%= @internship.organization %></h3>
            <small class="mb-6">Description <i>(missions)</i></small>
            <p class="mb-6"><%= @internship.description %></p>
            <hr>
          <!-- DETAILS -->
            <div class="my-6">
              <h3 class="font-weight-normal mb-6">Détails</h3>
              <ul class="list-unstyled mb-6">
                <li class="d-inline-block mr-4 mb-2">
                  <i class="fa fa-briefcase mr-2" aria-hidden="true"></i> Secteur <%= @internship.specialty %>
                </li>
                <li class="d-inline-block mr-4 mb-2">
                  <i class="fa fa-users mr-2" aria-hidden="true"></i><%= @internship.population %>
                </li>
                <li class="d-inline-block mr-4 mb-2">
                  <i class="fas fa-user-graduate mr-2" aria-hidden="true"></i>Niveau <%= @internship.cursus %>
                </li>
                <li class="d-inline-block mr-4 mb-2">
                  <i class="fas fa-euro-sign mr-2" aria-hidden="true"></i>Rémunération (<%= @internship.remuneration %> <small>/ mois</small>)
                </li>
                <li class="d-inline-block mr-4 mb-2">
                  <i class="far fa-clock mr-2" aria-hidden="true"></i>Durée (<%= @internship.duration %> <small> mois</small>)
                </li>
              </ul>
              <hr>
            </div>
          <!-- REVIEWS -->
            <div class="mt-6">
              <h3 class="font-weight-normal mb-6">Avis (<%= @internship.reviews.count + 1 %>)</h3>
              <div class="media">
                <div class="media-body">
                  <div class="media mb-3">
                    <div class="media-body">
                      <h5 class="media-heading"><%= @internship.user.first_name %> <%= @internship.user.last_name %> <small class="bg-secondary ml-2 pr-2 pl-2"><i>propriétaire du post</i></small></h5>
                <!-- EDIT BUTTON -->
                      <% if current_user.id == @internship.user.id %>
                        <button class="btn btn-outline-primary btn-sm ml-3 mr-lg-3 mb-2 edit-button">
                        <i class="fa fa-edit"></i>
                        <%= link_to 'Editer', edit_internship_path(@internship) %> </button>
                      <% end %>
            <!-- STARS NOTATION REVIEW -->
                      <ul class="list-inline list-inline-rating">
                        <% @internship.notation.to_i.times do %>
                          <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </li>
                        <% end %>
                        <% (5 - @internship.notation).to_i.times do %>
                          <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          </li>
                        <% end %>
                      </ul>
                      <p class="bg-light p-4 rounded"> <%= @internship.feeling %></p>
                      <hr>
                    </div>
                  </div>
                  <% if @internship.reviews == [] || @internship.reviews == nil %>
                  <% else %>
                    <% @reviews_of_internship.each do |review| %>
                      <div class="media mb-3">
                        <div class="media-body">
                          <h5 class="media-heading"><%= link_to review.review_user.first_name + " " + review.review_user.last_name, user_path(review.review_user), class: "review-user" %></h5>
                    <!-- EDIT BUTTON -->
                          <%if current_user.id == review.review_user_id %>
                            <button class="btn btn-outline-primary btn-sm mr-lg-3 mb-2 edit-button">
                            <i class="fa fa-edit"></i>
                            <%= link_to 'Editer', edit_review_path(review) %> </button>
                          <% end %>
                          <%= link_to 'Voir', review, class: "btn btn-outline-primary btn-sm edit-button" %>
                <!-- STARS NOTATION REVIEW -->
                          <ul class="list-inline list-inline-rating">
                            <% review.notation.to_i.times do %>
                              <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </li>
                            <% end %>
                            <% (5 - review.notation).to_i.times do %>
                              <li class="list-inline-item">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                              </li>
                            <% end %>
                          </ul>
                          <h6><%= review.title %> </h6>
                          <p class="bg-light p-4 rounded"> <%= review.description %></p>
                          <hr>
                        </div>
                      </div>
                    <% end %>
                  <!-- PAGINATION -->
                    <% if @internship.reviews.length > 3 %>
                      <div class="pagination my-3">
                        <a><%= will_paginate @reviews_of_internship %></a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <!-- Add Reviews -->
            <% if current_user != @internship.user %>
              <div class="accordion" id="accordionExample">
                <div class="card pt-5 pb-5 bg-secondary" id="add-review">
                  <div class="card-header bg-secondary" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left text-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-bullhorn fa-lg text-primary mr-6"> Donner son avis</i>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body bg-secondary">
                      <hr>
                       <p class="mb-5 text-primary text-center text-uppercase font-weight-bold">Tu as eu la même expérience ? Toi aussi partage ton avis !</p>
                      <%= render "reviews/form", review: @review %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Comments -->
            <div class="my-6">
              <h3 class="font-weight-normal mb-6">Commentaires (<%= @internship.comments.count %>)</h3>
              <div class="media mb-3">
                <div class="media-body">
                  <% if @internship.comments == [] || @internship.comments == nil %>
                    <p>Il n'y a pas encore de commentaire sur cette expérience </p>
                    <hr>
                  <% else %>
                    <% @internship_comments.each do |comment| %>
                      <div class="media mb-3">
                        <div class="media-body">
                          <h5 class="media-heading"><%= link_to comment.questioner.first_name + " " + comment.questioner.last_name, user_path(comment.questioner), class: "review-user" %></h5>
                          <span class="media-heading"><%= comment.created_at.strftime("%d/%m/%Y") %></span>
        
                    <!-- EDIT BUTTON -->
                          <%if current_user == comment.questioner %>
                            <%= button_to [@internship, comment], method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class:"btn btn-sm mt-2 edit-button" do %> 
                              <i class="fas fa-times-circle fa-3x text-danger" title="Supprimer le commentaire"></i>
                            <% end %>
                            <button class="btn btn-outline-primary btn-sm my-4 edit-button">
                            <i class="fa fa-edit"></i>
                            <%= link_to 'Modifier', edit_internship_comment_path(@internship, comment) %> </button>
                          <% end %>
                          <p class="bg-light-blue p-4 rounded"><%= comment.content %></p>
                          <ul>
                            <%= render partial: 'comments/comment', collection: comment.comments %>
                            <div class="row justify-content-end mr-1">
                              <%= link_to "Répondre", new_internship_comment_comment_path(@internship, comment.id) %>
                            </div>
                          </ul>
                          <hr>
                        </div>
                      </div>
                    <% end %>
                <!-- PAGINATION -->
                    <div class="pagination my-6">
                      <a><%= will_paginate @internship_comments %></a>
                    </div>
                  <% end %>
                <!-- Add Comments -->
                  <div>
                    <%= render "comments/form", comment: @new_internship_comment %>
                  </div>
                </div>
              </div>
            </div>

          <!-- Back button to return to internships index -->
            <div class="my-6">
              <%= link_to 'Retour', internships_path, class: "btn btn-outline-dark mt-3" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> <!-- element wrapper ends -->
