<div class="container">
  <%= form_tag internship_reviews_path(@internship), method:"post" do %>

    <div class="field">
      <p>Titre</p>
      <%= text_field_tag :title %>
    </div>

    <div class="field">
      <p>Notation</p>
      <%= text_field_tag :notation %>
    </div>

    <div class="field">
      <p>Description</p>
      <%= text_area_tag :description %>
    </div>
    
    <%= hidden_field_tag(:review_user_id, current_user.id) %>
    <%= hidden_field_tag(:review_internship_id, @internship.id) %>

    <div class="actions">
      <%= submit_tag "Envoyer l'avis", class:"btn btn-primary" %>
    </div>
  <% end %>
</div> 

