<p id="notice"><%= notice %></p>

<!-- ====================================
——— REVIEWS
===================================== -->
<section class="pb-8 pt-5 height100vh">
  <div class="container">

    <!-- Breadcrumb -->
    <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
      <h2 class="font-weight-normal mb-4 mb-md-0">Avis</h2>
    </nav>

    <table id="table-reviews" class="display nowrap table-data-default" style="width:100%">
      <thead>
        <tr>
          <th class="text-capitalize">Titre</th>
          <th>Crée par</th>
          <th>Posté le</th>
          <th class="text-capitalize">Note</th>
          <th class="text-capitalize">Contenu</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @reviews.each do |review| %>
        <tr>
          <td class="text-capitalize td-title">
            <p class="text-muted"><%= review.title %></p>
          </td>
          <td>
            <div class="media media-xs align-items-center">
              <div class="media-body">
                <p class="text-muted font-weight-bold"><%= review.review_user.first_name %> <%= review.review_user.last_name %></p>
              </div>
            </div>
          </td>
          <td>
            <span class="d-block"><%= review.created_at.strftime("%d / %m / %Y") %></span>
          </td>
          <td class="td-no-white-space">
            <ul class="list-inline list-inline-rating">
              <li class="list-inline-item">
                <i class="fa fa-star" aria-hidden="true"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-star" aria-hidden="true"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-star" aria-hidden="true"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-star" aria-hidden="true"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </li>
              <span>(<%= review.notation %>)</span>
            </ul>
          </td>
          <td class="bg-success text-white d-block p-2 mt-3 rounded"><%= review.description %>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm">
              <i class="fas fa-arrow-circle-right" aria-hidden="true"></i> <%= link_to 'Voir', review %>
            </button>
          </td>
        </tr>
      </tbody>
        <% end %>
    </table>
  </div>
</section>

<section>
  <!-- PAGINATION -->
  <div class="pagination">
    <a><%= will_paginate @reviews %></a>
  </div>
</section>




